.rojo {
  color: red;
}
.azul {
  color: blue;
}
.verde {
  color: green;
}
.amarillo {
  color: yellow;
}
.texto-grande {
  font-size: 30px;
}
.texto-muy-grande {
  font-size: 50px;
}
.fondo-rojo {
  background-color: red;
}
.fondo-morado {
  background-color: purple;
}
.fondo-celeste {
  background-color: skyblue;
}
